# The app itself

-e .

# Example app

django-debug-toolbar

# Testing

coverage
flake8
tox
tox-pyenv
detox
isort

# Transifex

transifex-client

# Documentation

Sphinx
sphinx_rtd_theme

# Build

wheel
bumpversion
twine
